.footer {
  border-top: 1px solid var(--main-color);
  padding-block: 30px;
}

.footer__container {
  display: flex;
  gap: 30px;
}

@media (width > 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (width <=768px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__menu .menu__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-color);
  transition: color var(--transition-time);
}


@media (any-hover: hover) {
  .footer__phone:hover {
    color: var(--accent-color);
  }
}