@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("../fonts/UbuntuLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("../fonts/UbuntuRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url("../fonts/UbuntuMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url("../fonts/OswaldMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url("../fonts/OswaldSemiBold.woff") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
