.hero {
  position: relative;
  padding-top: 80px;
}

.hero::before {
  bottom: 106px;
  width: 100%;
}

.hero-container {
  display: flex;
  gap: 28px;
}

.hero-article {
  display: flex;
  flex-direction: column;
  max-width: 492px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
} 

.hero-article h1 strong {
  font-weight: 600;
  color: #3596ed;
}

.hero-article p {
  margin-bottom: 140px;
  max-width: 440px;
}

.hero-images {
  position: relative;
  display: flex;
}

.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #535755;
  padding: 22px;
  max-width: 161px; 
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  color: #2c332f;
}   


.news-container {
  display: flex;
  gap: 28px;
}

.news-article {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  background: #fff;
  border: 1px solid #d3cbd9;
  max-width: 284px;
  overflow: hidden;
}

.news-article img {
  display: block;
}

.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news-date {
  display: inline-block;
  margin-bottom: 8px;
}

.news-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2c332f;
}

.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
}

.news-link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url(../images/arrow-icon.svg);
  transition: transform 0.5s;
}

.news-link:hover::after {
  transform: translateX(5px);
}

.faq {
  position: relative;
}

.faq::before {
  top: 215px;
}

.faq-container {
  display: flex;
  gap: 28px;
}

.faq-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755; 
}

details {
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

details:last-child {
  margin-bottom: 0;
}

details[open] summary::after {
  transform: rotate(180deg);
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

summary::after {
  content: " ";
  display: inline-block;
  flex-shrink: 0;
  width: 15px;
  height: 22px;
  background: url(../images/arrow-down.svg) no-repeat center / cover;
}

summary::-webkit-details-marker {
  display: none;
}

details > p {
  padding: 0 20px 20px;
}

@media (width <= 1440px) {
  .hero-images img {
    width: 50%;
  }
}

@media (width <= 992px) {
  .hero::after {
    display: none;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }


  .hero-article {
    align-items: center;
    text-align: center;
  }

  .hero h1 {
    margin-bottom: 30px;
    font-size: 52px;
  }

  .hero-article .text {
    margin-bottom: 30px;
    max-width: inherit;
  }

  .news-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .news-article {
    max-width: 350px;
    flex-basis: 50%;
  }

  .news-article img {
    width: 100%;
  }
  
.faq::before {
  display: none;
}

  .faq-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}


@media (width <= 768px) {
  .hero h1 {
    font-size: 50px;
  }

.news-article {
    max-width: 400px;
    flex-basis: 100%;
  }
}


@media (width <= 576px) {
  .hero {
    padding-top: 60px;
  }


  .hero-article {
    max-width: 410px;
  }


  .hero h1 {
    font-size: 42px;
  }

  .hero-choose {
    padding: 10px;
    font-size: 14px;
    max-width: 125px;
  }
}