html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}


body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  margin-bottom: 120px
}

.article-title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.article-title-large {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.margin-bottom {
  margin-bottom: 80px;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: " ";
  position: absolute;
  z-index: -1;
  background: url(../images/декор\ 2.svg) no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  bottom: 136px;
  right: -350px;
}

.article-image {
  max-width: 100%;
}

.article-list {
  margin-top: 0;
  padding-left: 18px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ED;
  font-size: 22px;
}


.article-play-button {
  transform: translate(-50% , -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: #3596ED;
  border-radius: 50%;
  cursor: pointer;
}


