html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 375px;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a, button {
  outline: none;
}


.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.section {
  margin-bottom: 140px;
}

.button {
  font-family: Ubuntu, sans-serif;
  padding: 19px 32px;
  width: 270px;
  height: 57px;
  background-color: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: opacity 0.2s, background-color 0.2s;  
}

.button:hover {
  opacity: 0.85;
}

.button:not(:disabled):active {
  background-color: #2b7dc4;
}

.button:disabled {
  opacity: 0.65;
  cursor: default;
}

.title-large {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.title-medium {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f; 
}

.decor::before {
  content: " ";
  position: absolute;
  z-index: -1;
  content: "";
  width: calc(50% - 250px);
  height: 48px;
  background: url(../images/decor-icon.svg) repeat-x;
}

.text-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

@media (width <= 992px) {
  .container {
    max-width: 768px;
  }
}

@media (width <= 768px) {
  .container {
    max-width: 576px;
  }

  .title-large {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .home-page .title-large {
    text-align: center;
    max-width: inherit;
  }

    .title-medium {
    font-size: 22px;
  }
}


@media (width <= 576px) {
  .section {
    margin-bottom: 80px;
  }

    .title-large {
    font-size: 32px;
  }

  .title-medium {
    font-size: 18px;
  }
}