
.article {
  padding-top: 80px;
  margin-bottom: 120px
}


.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-text:last-child {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: 80px;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: " ";
  position: absolute;
  z-index: -1;
  background: url(../images/декор\ 2.svg) no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  bottom: 136px;
  right: -350px;
}

.article-image {
  max-width: 100%;
}

.article-list {
  margin-top: 0;
  padding-left: 18px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ED;
  font-size: 22px;
}


.article-play-button {
  transform: translate(-50% , -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: #3596ED;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
}

.article-play-button:hover {
  background-color: #3aa3ff;

}

.article-play-button:not(:disabled):active {
  background-color: #2b7dc4;
}



