@font-face {
  font-family: inter;
  src:
    local("Inter Regular"), local("Inter-Regular"),
    url(../../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ReadexPro;
  src:
    local("ReadexPro Regular"), local("ReadexPro-Regular"),
    url(../../fonts/ReadexPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}