.best-selling {
  margin-bottom: 75px;
}

.best-selling__caption {
  margin-bottom: 31px;
  text-align: center;
}

.best-selling__title {
  padding-bottom: 10px;
}

.most-selled-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 28px;
}

.most-selled-product__title {
  font-size: 22px;
  line-height: 125%;
  padding-bottom: 10px;
}

.most-selled-product__text {
  max-width: 261px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--article-color);
  padding-bottom: 25px;
}

.most-selled-product__price {
  font-size: 18px;
  line-height: 120%;
}