body {
  font-family: sans-serif;
}

table,
caption,
th,
tr,
td {
  border: 2px solid #111;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  font-size: 18px;
  font-weight: bold;
  border-bottom: none;
}

th {
  font-size: 14px;
  text-transform: uppercase;
}

.text-color {
  color: rgb(186, 1, 1);
}
.table-size {
  width: 250px;
}